

body {
    background-color: #181a1b;
    color: #a5bbcd;
    margin: 60px 20%;
    text-align: center;
}

header {
    padding-bottom: 30px;
}

#subtext {
    font-style: italic;
    font-weight: bold;
    font-size: small;
}

img {
    max-width: 100%;
    height: auto;
}

.left{
    grid-area: left;
}

.right {
    grid-area: right;
}

.grid {
    display: grid;
    grid-template-areas: 'left right';
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
}

p {
    padding-right: 30px;
    padding-left: 30px;
}